:root {
  --Black-blue: #42567a;
  --Date-blue: #3877ee;
  --Iris-100: #5d5fef;
  --Fuschia-100: #ef5da8;
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:wght@400;700&display=swap");
